fa-icon {
  font-size: 2em;
}

.light-square {
  background-color: burlywood;
}

.dark-square {
  background-color: saddlebrown;
}

.light-piece {
  color: ghostwhite;
}

.dark-piece {
  color: black;
}